# Criando Estruturas de Dados

In [2]:
import pandas as pd

## Series

### Por meio de Index...

In [11]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
index = ['Linha_' + str(i) for i in range(5)]
index

['Linha_0', 'Linha_1', 'Linha_2', 'Linha_3', 'Linha_4']

In [13]:
s = pd.Series(data = data, index = index)
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
Linha_4    5
dtype: int64

### Por meio de Dicionário...

In [17]:
data = {'Linha_' + str(i) : i + 1 for i in range(5) }   # Outra maneira, é criando o dicionário, passando-o para pd.Series
data

{'Linha_0': 1, 'Linha_1': 2, 'Linha_2': 3, 'Linha_3': 4, 'Linha_4': 5}

In [19]:
s = pd.Series(data)    # dispensa passar o index, pois será usada a chave do dicionário criado
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
Linha_4    5
dtype: int64

In [21]:
s1 = s + 2
s1

Linha_0    3
Linha_1    4
Linha_2    5
Linha_3    6
Linha_4    7
dtype: int64

In [23]:
s2 =  s + s1
s2

Linha_0     4
Linha_1     6
Linha_2     8
Linha_3    10
Linha_4    12
dtype: int64

## DataFrame

In [45]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [47]:
index = ['Linha_' + str(i) for i in range(3)]
index

['Linha_0', 'Linha_1', 'Linha_2']

In [48]:
columns = ['Coluna_' + str(i) for i in range(3)]
columns

['Coluna_0', 'Coluna_1', 'Coluna_2']

In [50]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [35]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [36]:
data = {'Coluna_0': {'Linha_0': 1, 'Linha_1': 4, 'Linha_2': 7},
        'Coluna_1': {'Linha_0': 2, 'Linha_1': 5, 'Linha_2': 8},
        'Coluna_2': {'Linha_0': 3, 'Linha_1': 6, 'Linha_2': 9}}
data

{'Coluna_0': {'Linha_0': 1, 'Linha_1': 4, 'Linha_2': 7},
 'Coluna_1': {'Linha_0': 2, 'Linha_1': 5, 'Linha_2': 8},
 'Coluna_2': {'Linha_0': 3, 'Linha_1': 6, 'Linha_2': 9}}

In [38]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [39]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [51]:
df1[df1 > 0] = 'A'
df1

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A

In [41]:
df2[df2 > 0] = 'B'
df2

        Coluna_0 Coluna_1 Coluna_2
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B

In [42]:
df3[df3 > 0] = 'C'
df3

        Coluna_0 Coluna_1 Coluna_2
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

In [52]:
df4 = pd.concat([df1, df2, df3])   # Vai alinhar pelas Colunas
df4

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

In [53]:
df4 = pd.concat([df1, df2, df3], axis = 1)  # Vai alinhar pelas linhas
df4

,Coluna_0,Coluna_1,Coluna_2,Coluna_0,Coluna_1,Coluna_2,Coluna_0,Coluna_1,Coluna_2
Linha_0,A,A,A,B,B,B,C,C,C
Linha_1,A,A,A,B,B,B,C,C,C
Linha_2,A,A,A,B,B,B,C,C,C